<div class="container">
  <app-card></app-card>
  <div class="conteudo">
      <h1>About Edson</h1>
      <p>
        Hi, my name is Edson Costa and I recently graduated as a Systems Development Technician at SENAI-São Paulo-Brasil, and I am currently a Systems Analysis and Development student at Estácio de Sá University - Recife-Pernambuco / Brazil. I've already developed some private projects on the frontend using Angular, and backend with Java and C#. This page will soon display my academic projects and articles.
      </p>
  </div>
</div>
